.item{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btn{
  height: 2rem;
  width: 3rem;
  font-size: 11px;

  color: white;
  background-color: maroon;
  font-weight: bold;
  border: none;
}
.item-box{
  display: flex;
  align-items: center;
}
.item-list{
  list-style-type: none;
  padding-left: 0;
  border: 2px solid black;
  width: 20rem;
  padding: 1rem;
}
